absl-py==0.14.1
altair==4.1.0
appdirs==1.4.4
argh==0.26.2
astor==0.8.1
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
base58==2.1.1
bkcharts==0.2
black==19.10b0
blinker==1.4
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.4
certifi==2021.5.30
clang==5.0
click==7.1.2
comtypes==1.1.10
conda-build==3.21.4
conda-verify==3.4.2
cycler==0.10.0
cytoolz==0.11.0
EasyProcess==0.3
entrypoint2==0.2.4
entrypoints==0.3
et-xmlfile==1.1.0
fastcache==1.1.0
Flask-Cors==3.0.10
flatbuffers==1.12
fonttools==4.25.0
future==0.18.2
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.24
gmpy2==2.0.8
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.0
h5py==3.1.0
jupyter==1.0.0
keras==2.6.0
Keras-Preprocessing==1.1.2
llvmlite==0.36.0
locket==0.2.1
Markdown==3.3.4
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.3.0
mkl-service==2.4.0
mlxtend==0.19.0
mpmath==1.2.1
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
parso==0.7.0
pathspec==0.7.0
patool==1.12
patsy==0.5.2
pep8==1.7.1
pkginfo==1.7.1
ply==3.11
protobuf==3.18.1
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
pydeck==0.7.1
Pympler==1.0
pyodbc===4.0.0-unsupported
pyreadline==2.1
pytest==6.2.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyunpack==0.2.2
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
QDarkStyle==2.8.1
rarfile==4.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.1
simplegeneric==0.8.1
sip==4.19.13
six==1.15.0
smmap==5.0.0
statsmodels==0.12.2
streamlit==1.3.0
tables==3.6.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.9.4
typing-extensions==3.7.4.3
tzdata==2021.5
tzlocal==4.1
unicodecsv==0.14.1
urllib3==1.26.7
validators==0.18.2
webencodings==0.5.1
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xgboost==1.5.1
xlwings==0.24.7
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0
